Logistic Regression

In [11]:
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score
import pandas as pd

In [2]:
xtrain = np.loadtxt('Data/train_data.csv', delimiter=',')
ytrain = np.loadtxt('Data/train_labels.csv', delimiter=',')
xtest = np.loadtxt('Data/test_data.csv', delimiter=',')

In [3]:
print(xtrain.shape)
print(xtrain)
print(ytrain.shape)
print(ytrain)

(4363, 264)
[[  3.73870000e+01  -1.72830000e+01   4.96400000e+01 ...,   1.70550000e+00
    1.03780000e+00   4.93660000e-02]
 [  4.94260000e+01   4.33780000e+01   8.73340000e+00 ...,   3.90250000e+00
    1.45800000e+00   1.06600000e-03]
 [  4.20750000e+01  -8.49980000e+01   8.62540000e-01 ...,   3.50320000e+00
    1.22110000e+00   1.06600000e-03]
 ...,
 [  3.60810000e+01  -5.91510000e+01  -3.58150000e+01 ...,   2.03580000e+00
    8.31680000e-01   1.06600000e-03]
 [  4.22170000e+01  -4.59620000e+01  -3.39030000e+00 ...,   4.53300000e+00
    2.00180000e+00   3.17350000e-01]
 [  3.67530000e+01  -1.63540000e+00  -7.33680000e+01 ...,   1.67760000e+00
    7.72530000e-01   1.06600000e-03]]
(4363,)
[ 1.  1.  1. ...,  2.  5.  2.]

In [4]:
# instantiate a logistic regression model, and fit with X and y
model = LogisticRegression()

In [5]:
model = model.fit(xtrain, ytrain)

In [6]:
# check the accuracy on the training set
model.score(xtrain, ytrain)

0.72518909007563603

In [7]:
ypred=model.predict(xtest)

In [10]:
ypred

array([ 3.,  9.,  1., ...,  1.,  3.,  1.])

In [20]:
subm=pd.DataFrame(ypred,columns=['Sample_label'])
subm.index+=1
subm=subm.astype(int)

In [23]:
subm

      Sample_label
1                3
2                9
3                1
4                1
5                1
6                1
7                5
8                1
9                1
10               1
11               1
12               3
13               1
14               1
15               1
16               1
17               1
18               1
19               3
20               2
21               2
22               1
23               1
24               2
25               1
26               4
27               2
28               1
29               1
30               1
...            ...
6515             1
6516             1
6517             7
6518             2
6519             1
6520             1
6521             1
6522             6
6523             1
6524             5
6525             1
6526             9
6527             5
6528             1
6529             6
6530             3
6531             1
6532             1
6533             6
6534             3
6535             3
6536             1
6537             1
6538             4
6539             1
6540             2
6541             1
6542             1
6543             3
6544             1

[6544 rows x 1 columns]

In [27]:
subm.to_csv('Solutions/log_solution_accuracy_0911.csv',index_label='Sample_id')